<link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css"
      xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<style>
    .card{
     border-radius:10px;
     box-shadow:0 2px 10px rgba(0,0,0,.08);
    }

    #empTable{
     border:1px solid #dee2e6;
     border-radius:8px;
     overflow:hidden;
    }

    #empTable th{
     background:#f1f5f9;
     border-bottom:1px solid #dee2e6;
    }

    #empTable td{
     border-top:1px solid #dee2e6;
     padding:12px 16px;
     vertical-align: middle;
    }

    #empTable th:nth-child(1){ width:120px; }
    #empTable th:nth-child(2){ width:220px; }
    #empTable th:nth-child(3){ width:220px; }
    #empTable th:nth-child(4){ width:220px; }
</style>

<div class="d-flex justify-content-between">
    <h4>Employees</h4>

    <button class="btn btn-primary mb-3"
            onclick="loadEmpCreate()"
            th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        Create
    </button>

</div>

<div class="card p-3">

    <table id="empTable" class="table">

        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Department</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="e:${employees}">

            <td th:text="${e.employeeCode}"></td>

            <td th:text="${e.firstName + ' ' + e.lastName}"></td>

            <td th:text="${e.department != null ? e.department.departmentName : '-'}"></td>

            <td>
                <span th:text="${e.isActive} ? 'Active' : 'Inactive'"
                      th:classappend="${e.isActive} ? 'text-success fw-semibold' : 'text-danger fw-semibold'">
                </span>
            </td>

            <td>
                <div class="d-flex gap-2">

                    <!-- View -->
                    <button class="btn btn-primary btn-sm"
                            th:onclick="'window.location.href=\'/employees/view/' + ${e.employeeId} + '\';'"
                            title="View">
                        <i class="fa-solid fa-eye"></i>
                    </button>


                    <!-- Edit -->
                    <button class="btn btn-warning btn-sm"
                            th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                            th:onclick="'editEmp('+${e.employeeId}+')'">
                        <i class="fa-solid fa-pen"></i>
                    </button>


                    <!-- Toggle -->

                    <button th:if="${e.isActive and #authorization.expression('hasRole(''ADMIN'')')}"
                            class="btn btn-danger btn-sm"
                            th:onclick="'window.location.href=\'/employees/toggle/' + ${e.employeeId} + '\';'"
                            title="Deactivate">
                        <i class="fa-solid fa-trash"></i>
                    </button>

                    <button th:if="${!e.isActive and #authorization.expression('hasRole(''ADMIN'')')}"
                            class="btn btn-success btn-sm"
                            th:onclick="'window.location.href=\'/employees/toggle/' + ${e.employeeId} + '\';'"
                            title="Activate">
                        <i class="fa-solid fa-check"></i>
                    </button>

                </div>
            </td>

        </tr>

        </tbody>

    </table>

</div>


<script>

$(function () {

    $('#empTable').DataTable({

        dom: 'frtipB',

        buttons: [
            {
                extend: 'excelHtml5',
                text: '<i class="fa fa-file-excel"></i> Export Excel',
                className: 'btn btn-success mt-3',
                title: 'Employee_List',
                exportOptions: {
                    columns: [0,1,2,3] // ignore actions column
                }
            }
        ]

    });

});

 function loadEmpCreate(){
     let url = "/employees/create";
     window.location.href = url;
 }


 function viewEmp(id){
     let url = "/employees/view/" + id;
     window.location.href = url;
 }


 function editEmp(id){
     let url = "/employees/edit/" + id;
     window.location.href = url;
 }

</script>


<script>
    function toggleEmp(id){
        if(confirm("Change employee status?")){
            loadPage("/dashboard/employees/toggle/" + id);
        }
    }
</script>